html {
    font-size: 16px;
    font-family: 'Cabin', sans-serif;
  }


  body {
    background-color:rgb(246,199,	143);
    text-align: center;  
  }

img{

  text-align: left; 
  position: fixed; 
  width: 1% ;

}
#left {    
  text-align: left;  
  }  
 

  h1{
    color: rgb(204, 85, 0);
    font-size: 60px;
    font-family: 'Cabin', sans-serif;
    text-align: center;
    animation-name: slidein;
    animation-duration: 2s;


  }


  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

p {
    color: white;
    font-size: 23px;
    text-align: center;
    font-family: 'Cabin', sans-serif;
}

a:link {
  color: black;
}

/* visited link */
a:visited {
  color: rgb(204, 85, 0);
}


.header {
  position: static;
  width: 100%;
  padding: 20px 0;
  font-size: 14px;
  font-weight: 900;
  font-family: 'Cabin';
  text-align: center;
}


.header li {
  display: inline-block;
  font-size: 15px;
  font-family: 'Cabin';
  text-align: center;
  padding: 10px;

}

.banner {
  margin-top: 75px;
  padding: 40px 0 175px 0;
  background-color: rgb(204, 85, 0);
  font-family: 'Cabin';
}

.banner h1{

  color: white;
    font-size: 60px;
    font-family: 'Cabin', sans-serif;
    text-align: center;
    animation-name: slidein;
    animation-duration: 2s;
    padding: 10px;



}

.banner p {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #ffffff;
  font-weight: lighter;
  word-spacing: 0.25em;
  line-height: 1.4;
  font-family: 'Cabin';
  font-size: 23px;
  text-align: left;
  padding: 20px;
}
